html {
    background: DarkOliveGreen;
    display: table;
    margin: auto;
}
body {
    font-family: "Times New Roman", Times, serif;
    color: beige;
    width: 100%;
    max-width: 800px;
    display: table-cell;
    vertical-align: middle;
    line-height: 165%;
}
ul, li {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 1em;
    line-height: 110%;
}
a {
    text-decoration: none;
    color: blue;
    background: peachpuff;
}
a:hover {
    text-decoration: underline;
    background: yellow;
}
a:active {
    background: yellow;
}
h1 {
    font-size: 2.7em;
    margin-top: .3em;
    margin-bottom: .3em;
    text-align: center;
}
p {
    font-size: 1.4em;
    margin-top: 0;
    margin-bottom: 1em;
    text-align: justify;
}
img {
    max-width: 100% ;
    height: auto;
    display: block;
    margin: auto;
}
